<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Proiect_PAW.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Proiect_PAW.Properties.Settings.AirCompanyDBConnectionString"
            connectionString="Data Source=LAPTOP-QHCIP06K\SQLEXPRESS;Initial Catalog=AirCompanyDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <applicationSettings>
        <Proiect_PAW.Properties.Settings>
            <setting name="DataFilesPath" serializeAs="String">
                <value>C:\Users\dimar\source\repos\Proiect_PAW\Proiect_PAW\Resources\Data Files\</value>
            </setting>
            <setting name="SerializationFilesPath" serializeAs="String">
                <value>C:\Users\dimar\source\repos\Proiect_PAW\Proiect_PAW\Resources\Serialization Files\</value>
            </setting>
            <setting name="AirCompanyDb" serializeAs="String">
                <value>Server = .\SQLEXPRESS; Database = AirCompanyDB; Integrated Security = true</value>
            </setting>
            <setting name="ReportsPath" serializeAs="String">
                <value>C:\Users\dimar\source\repos\Proiect_PAW\Proiect_PAW\Reports\</value>
            </setting>
            <setting name="RezervariPath" serializeAs="String">
                <value>C:\Users\dimar\source\repos\Proiect_PAW\Proiect_PAW\Rezervari\</value>
            </setting>
        </Proiect_PAW.Properties.Settings>
    </applicationSettings>
</configuration>
